@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --purple: #5280e2;
    --green: #15cdcb;
    --bg-dark: #212226;
    --light-grey: #e0dede;
    --menu-height: 75px;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background-color: var(--bg-dark)
}

body, button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}

h1,h2{
    margin: 0;
    font-weight: 400;
}

p{
    color: var(--light-grey);
}

button{
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
}

header{
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container{
    width: 55%;
    height: fit-content;
    padding: 0 100px;
}

header .container h1{
    color:var(--green);
}

header .container button{
    margin-top: 40px;
}

nav{
    display: flex;
    align-items: center;
    height: var(--menu-height);
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img{
    height: 45px;
}

nav ul a{
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
    margin: 0 35px;
}

section{
    height: 1500px;
    background: purple;
}